@import "tailwindcss";

#root {
  margin: 0 ;
  padding: 0;

}


body{
      background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* Modern browsers */
  


}
