.custom-swiper-pagination .swiper-pagination-bullet {
  width: 16px;   /* make bullet wider */
  height: 16px;  /* make bullet taller */
  background-color: #444; /* optional: change bullet color */
  opacity: 1;    /* make sure it's fully visible */
  margin: 0 6px; /* optional: spacing between dots */
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1f2937; /* a darker color or highlight */
  transform: scale(1.3);     /* make active bullet bigger */
  transition: transform 0.3s ease;
}

.section-3{
background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);


}


.section-1{

    background: #D6D2CC; /* fallback */
background: linear-gradient(to right, #E0DBD5, #D6D2CC);
}


.section-2{

background: #C0B9AA; /* fallback */
background: linear-gradient(to right, #D1C7B7, #C0B9AA);}


.bg-dark-gradient {
  background: linear-gradient(to right, #E0DFDD, #C9C7C4);
}


/* Original gradient */
.bg-gradient-original {
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.bg-gradient-light {
  background: linear-gradient(to right, #FFFFFF, #F5F4F3);
}